<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg" style="color: #dcdcdc;"><em>Хочешь почувствовать Азию?</em></h6>
      <h1 class="text-3xl md:text-6xl font-bold">Тогда чего ты ждешь!</h1>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        <a href="/menu">Закажи сейчас</a>
      </button>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-sushi.png" alt="" />
    </div>
  </div>
</section>
<section class="intro-title py-16">
  <div class="container mx-auto">
    <h4>WE ARE</h4>
    <img src="/img/logoTextWhite.png" class="center" />
    <h3>ART OF JAPAN</h3>
    <p>
      Интернет-магазин японских товаров Ohayo – это доступный способ быть ближе
      к Азии! Курьеры Ohayo доставляют заказы по республике Мордовии каждый день
      с интервалом доставки 4 часа. А партнеры ТК СДЭК и Почта России отправляют
      заказы в другие города и регионы страны. Все, что добавите в корзину
      заказа, привезем сами с интервалом доставки 4 часа. И не надо никуда
      ехать! Наши клиенты часто забирают заказы сами. За это они получают скидку
      5%, если заказ оформлен через сайт. Сотрудничество – это путь к развитию.
      По оптовым закупкам обращайтесь по телефону: +7 (937) 516-41-46
    </p>
    <h3>Часто заказывают</h3>
    <div class="grid grid-cols-2 gap-4 place-content-center">
      <div class="flex justify-center">
        <img src="/img/ris.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            Рис
          </div>
          <div class="sellers-text">
            Рисовая бумага | Рис | Рисовые заготовки | Рисовые крупы
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            Снеки
          </div>
          <div class="sellers-text">
            Чипсы из Японии и Китая | Снеки | Крекеры | Фруктовые чипсы |
            Нори-чипсы
          </div>
        </div>
        <img src="/img/chips.jpg" alt="" />
      </div>
      <div class="flex justify-center">
        <img src="/img/drink.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            Соусы
          </div>
          <div class="sellers-text">
            Соевый соус | Японские соусы | Майонез | Рыбные, устричные соусы |
            Экзотические соусы | Соусы Терияки и Унаги
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            Супы
          </div>
          <div class="sellers-text">
            Тайские супы | Продукты в суп | Японские мисо-супы
          </div>
        </div>
        <img src="/img/soup.jpg" alt="" />
      </div>
      <div class="flex justify-center">
        <img src="/img/napitki.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            Напитки
          </div>
          <div class="sellers-text">
            Кокосовая вода | Милкшейки | Диетические напитки | Напитки из
            фруктов | Холодный чай
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            Фрукты
          </div>
          <div class="sellers-text">
            Японский персик | Юзу | Акебия | Белая клубника
          </div>
        </div>
        <img src="/img/fruits.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
