<section class="hero py-16" style="background-image: url(../img/header_background.jpg);">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg" style="color: #dcdcdc;">
        <em>Желаете ли вы слиться с духом азии?</em>
      </h6>
      <h1 class="text-3xl md:text-6xl font-bold">Тогда чего вы ждете?</h1>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        <a href="/menu">Закажи сейчас</a>
      </button>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-sushi.png" alt="" />
    </div>
  </div>
</section>
<section class="intro-title py-16">
  <div class="container mx-auto">
    <h4>МЫ ЭТО</h4>
    <img src="/img/logoTextWhite.png" class="center" />
    <h3>ЛИК АЗИИ</h3>
    <p class="container">Интернет-магазин азиатских продуктов Ohayo</p>
    <p class="container">
      В пределах Республики Мордовии, мы доставим ваш заказ в течении 4 часов.
      Не тратьте свое время на поездку в магазин, вы сможете ознакомиться и
      приобрести товары прямо на сайте. Секретик: если вы заберете заказ
      самостоятельно, то получите скидку в 5%. Спасибо, что посетили наш сайт и
      приятного вам шоппинга.
    </p>
    <h3>У нас популярны</h3>
    <div class="grid grid-cols-2 gap-4 place-content-center">
      <div class="flex justify-center">
        <img src="/img/ris.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Японский Рис</a>
          </div>
          <div class="sellers-text">
            Рисовая бумага | Рис | Рисовые заготовки | Рисовые крупы
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Снеки</a>
          </div>
          <div class="sellers-text">
            Чипсы из Японии и Китая | Снеки | Крекеры | Фруктовые чипсы |
            Нори-чипсы
          </div>
        </div>
        <img src="/img/chips.jpg" alt="" />
      </div>
      <div class="flex justify-center">
        <img src="/img/drink.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Соусы</a>
          </div>
          <div class="sellers-text">
            Соевый соус | Японские соусы | Майонез | Рыбные, устричные соусы |
            Экзотические соусы | Соусы Терияки и Унаги
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Супы</a>
          </div>
          <div class="sellers-text">
            Тайские супы | Продукты в суп | Японские мисо-супы
          </div>
        </div>
        <img src="/img/soup.jpg" alt="" />
      </div>
      <div class="flex justify-center">
        <img src="/img/napitki.jpg" alt="" />
        <div class="w-40 whitespace-normal ml-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Напитки</a>
          </div>
          <div class="sellers-text">
            Кокосовая вода | Милкшейки | Диетические напитки | Напитки из
            фруктов | Холодный чай
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-40 whitespace-normal mr-2">
          <div class="sellers-head">
            <a href="/menu" class="hover:underline">Фрукты</a>
          </div>
          <div class="sellers-text">
            Японский персик | Юзу | Акебия | Белая клубника
          </div>
        </div>
        <img src="/img/fruits.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<footer class="p-4 sm:p-6" style="background-color: #1a1a1a;">
  <hr class="my-6 border-white sm:mx-auto" />
  <div class="sm:flex sm:items-center sm:justify-between">
    <span class="text-sm text-white sm:text-center"
      >© 2022 <a href="/" class="text-red-700 hover:underline hover:text-white">Ohayo.</a> Все права защищены.
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <div class="text-center">
        <p class="text-white text-sm">
          Обратная связь: grilfar22@yandex.ru
        </p>
      </div>
      <a href="#" class="text-red-700 hover:text-white">
        <svg
          class="w-8 h-8"
          fill="currentColor"
          viewBox="0 0 120 120"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M 50 4 C 24.636719 4 4 24.636719 4 50 C 4 75.363281 24.636719 96 50 96 C 75.367188 96 96 75.363281 96 50 C 96 24.636719 75.367188 4 50 4 Z M 69.945312 59.070312 C 74.421875 63.042969 75.351562 64.460938 75.503906 64.703125 C 77.355469 67.640625 73.445312 68 73.445312 68 L 65.207031 68 C 65.207031 68 63.199219 68.023438 61.484375 66.886719 C 58.691406 65.054688 55.765625 61.507812 53.710938 62.125 C 51.984375 62.640625 52 64.972656 52 66.964844 C 52 67.679688 51.386719 68 50 68 C 48.613281 68 48.039062 68 47.425781 68 C 42.910156 68 38.011719 66.480469 33.125 61.375 C 26.214844 54.15625 20.152344 39.617188 20.152344 39.617188 C 20.152344 39.617188 19.792969 38.882812 20.183594 38.4375 C 20.625 37.9375 21.828125 38.003906 21.828125 38.003906 L 29.816406 38 C 29.816406 38 30.570312 38.140625 31.109375 38.523438 C 31.554688 38.835938 31.804688 39.429688 31.804688 39.429688 C 31.804688 39.429688 33.144531 43.863281 34.855469 46.6875 C 38.195312 52.203125 39.75 52.34375 40.882812 51.75 C 42.539062 50.890625 42 45.027344 42 45.027344 C 42 45.027344 42.074219 42.507812 41.210938 41.386719 C 40.542969 40.519531 39.269531 40.054688 38.714844 39.984375 C 38.265625 39.925781 39.015625 39.136719 39.972656 38.6875 C 41.253906 38.117188 42.996094 37.972656 46 38 C 48.339844 38.023438 49.011719 38.160156 49.925781 38.371094 C 52.683594 39.007812 52 40.6875 52 46.578125 C 52 48.464844 51.738281 51.121094 53.164062 52 C 53.777344 52.378906 55.882812 52.84375 59.625 46.765625 C 61.402344 43.878906 62.816406 39.097656 62.816406 39.097656 C 62.816406 39.097656 63.109375 38.570312 63.5625 38.308594 C 64.027344 38.042969 64.015625 38.050781 64.648438 38.050781 C 65.285156 38.050781 71.664062 38 73.0625 38 C 74.460938 38 75.773438 37.984375 76 38.804688 C 76.324219 39.980469 74.96875 44.019531 71.53125 48.398438 C 65.886719 55.585938 65.261719 54.914062 69.945312 59.070312 Z M 69.945312 59.070312 "
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>
</footer>
